.Wandern_main_logo{
    background:black;
    height: 204px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 26.6%;
    
}

.Wandern_main_Strich{

    background: black;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 7%;
    margin-left: 5%;
    height: 8px;
    width: 80%;
}

.Wandern_main_heading{
    margin-bottom: 10%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.Wandern_main_button_weiter{
    width: 30%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: white;
    outline: none;
    border: none;
    color:black;
    font-size: 1.2rem;
}