.Wandern_main_logo{
    background:black;
    height: 204px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 23.6%;
    
}

.Wandern_main_Strich{

    background: black;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10%;
    margin-left: 5%;
    height: 8px;
    width: 80%;
}

.Wandern_main_heading{
    margin-bottom: 12%;
    display: flex;
    justify-content: start;
    align-items: center;

}