.Wandern_main_logo{
    background:black;
    height: 204px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 34%;
    
}

.Wandern_main_Strich{


}

.Wandern_main_heading{

    display: flex;
    justify-content: center;
    align-items: center;
}