.Wandern_main_logo{
    background:black;
    height: 204px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 32%;
    
}

.Wandern_main_Strich{

    background: black;
    display: flex;
    justify-content: start;
    align-items: center;

    height: 50px;
}

.Wandern_main_heading{

    display: flex;
    justify-content: start;
    align-items: center;

}